<main>
  <h2>Entrar</h2>
  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" [(ngModel)]="username">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="password">

    <button>Login</button>
  </form>
</main>


<main>
  <h2>Register</h2>
  <form>
    <label for="username">Username:</label>
    <input type="text" id="usernam2e" name="username" [(ngModel)]="username">

    <label for="password">Password:</label>
    <input type="password" id="passwo3rd" name="password" [(ngModel)]="password">

    <button>Login</button>
  </form>
</main>
