<!-- @Main -->
<main class="main">

  <!-- @Hero -->
  <section class="hero">
    <!-- @HeroTitle -->
    <article class="hero__title">
      <h1>App Achei</h1>
      <img src="assets/favicon.svg" alt=""/>
    </article>

    <!-- @HeroContent -->
    <article class="hero__content">
      <div>
        <h2>
          Bem-vindos à Achei.
        </h2>

        <p>
          Onde você achará o que perdeu. Nosso app busca ser uma solução simples e eficaz para aquelas situações quando
          você perde algo
        </p>

        <button (click)="goTologin()" class="btn-login">
          Entrar
        </button>
      </div>
      <div>
        <img src="assets/images/capivara_avatar.png" alt="">
      </div>
    </article>
  </section>

  <!-- @SectionBenefits -->
  <section class="section-benefits">
    <!-- @ContainerBoxes -->
    <article class="container-boxes">
      <!-- @BoxItem -->
      <div class="box-item">
        <h4>Nunca mais perca seus pertences</h4>

        <p>Com o Achei, você pode vincular seus objetos pessoais a seu perfil, garantindo que sejam devolvidos se forem
          encontrados.</p>
      </div>

      <!-- @BoxItem -->
      <div class="box-item">
        <h4>Contato imediato com o dono</h4>

        <p>Quando alguém encontrar seu objeto, basta escanear o código QR e entrar em contato com você diretamente.</p>
      </div>

      <!-- @BoxItem -->
      <div class="box-item">
        <h4>Comunidade de ajuda</h4>

        <p>Faça parte de uma rede de pessoas comprometidas em devolver objetos perdidos aos seus verdadeiros donos.</p>
      </div>
    </article>
  </section>
</main>

<!-- @Footer -->
<footer>
  <h6>&copy; App Achei</h6>
</footer>
